<%= form_for @conn, playground_path(@conn, :index), [as: :query], fn f -> %>
  <div class="form-group">
    <%= label f, :datasource, class: "control-label" %>
    <%= select f, :datasource, @databases, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label f, :query_text, class: "control-label" %>
    <%= textarea f, :query_text, class: "form-control" %>
  </div>

  <%= submit "Query", class: "btn btn-primary" %>
 <% end %>
