<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Ironclad!" %></h2>
  <p class="lead">A data visualization platform heavily inspired from Airbnb's <a href="//github.com/airbnb/caravel">Caravel</a>.</p>
</div>
<div class="card">
  <div class="card-header">
    <h5><i class="fa fa-dashboard"></i> Dashboards</h5>
    <!--TODO: Introduce search here -->
  </div>
  <div class="card-block">
    <!-- TODO: Use Bootstrap datatables -->
  </div>
</div>
